/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.362);
    
    align-items: center;
    width: 100%;
    margin: 0px auto;
    padding: 30px;
   
  }
  .options{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .options label {
    margin-left: 10px;
    font-size: 30px;
    cursor: pointer;
    color:#fff;
  }
  #checkbox-btn{
    width: 30px;
    height: 30px;
  }

  .options button{
    background-color: red;
    color: #fff;
    padding: 18px 50px;
    border: none;
    margin-left: 18px;
    outline: none;
    cursor: pointer;
  }
  
  .user-input input {
    padding: 18px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 20px;
  }
  
  .create-button {
    background-color: red;
    color: white;
    padding: 23px 30px;
    margin-left: 10px;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
  }
  
  .create-button:hover {
    background-color: darkred;
  }
  #modal{
    
    width: 90%;
    margin:80px auto;
    
  }
  
  .close{
    cursor: pointer;
    background-color: #fff;
    padding: 8px 10px;
    float: right;
  }


   /* Add this hover effect for the option cards */
   .box-card{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5,1fr); 
   }

   .option-card {
  
  padding: 10px;
 
  border-radius: 6px;
  cursor: pointer;
  width: 250px;
  height: 150px;
  position: relative; /* Set position to relative */
}

.option-image {
  width: 250px;
  height: 150px;
  background-size: cover;
  
}
.option-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 .option-details {
  position: absolute;
  top:50%;
  left:50%;
  color: rgb(255, 255, 255);
  transform: translate(-50%,-50%);
  font-size: 60px;
  opacity:0;

}

.option-card:hover .option-details {
  opacity: 1; /* Show on hover */
}
.price{
  
  margin-left: 10%;
  background-color: red;
  padding: 20px 30px;
  width: 300px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  margin-top: 40px;
}
.logo-price{
  color: goldenrod;
}

.modal{
  background-color: red;
  padding: 60px;
}